.forecast_card {   
    width: 10rem; 
    margin-bottom: 1rem;
}

.forecasts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 575px) {
    .forecast_card {   
        width: 90%; 
        margin-bottom: 1rem;
    }
    .forecasts {
        justify-content: space-around;
    }
}